WcfServiceHotelSystemApp/WebHotelSystemApp.Tests/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:34060/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:34060/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:34060/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IService1_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_hello_InputMessage">
    <wsdl:part name="parameters" element="tns:hello" />
  </wsdl:message>
  <wsdl:message name="IService1_hello_OutputMessage">
    <wsdl:part name="parameters" element="tns:helloResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addUser_InputMessage">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="IService1_addUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:addReservation" />
  </wsdl:message>
  <wsdl:message name="IService1_addReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:addReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:addRoom" />
  </wsdl:message>
  <wsdl:message name="IService1_addRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:addRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_verifyLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:verifyLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_verifyLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:verifyLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getEmptyRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:getEmptyRooms" />
  </wsdl:message>
  <wsdl:message name="IService1_getEmptyRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEmptyRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getActiveLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:getActiveLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_getActiveLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:getActiveLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:getReservations" />
  </wsdl:message>
  <wsdl:message name="IService1_getReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReservationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DoWork" message="tns:IService1_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DoWorkResponse" message="tns:IService1_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="hello">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/hello" message="tns:IService1_hello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/helloResponse" message="tns:IService1_hello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addUser" message="tns:IService1_addUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addUserResponse" message="tns:IService1_addUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addReservation" message="tns:IService1_addReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addReservationResponse" message="tns:IService1_addReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addRoom" message="tns:IService1_addRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addRoomResponse" message="tns:IService1_addRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verifyLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/verifyLogin" message="tns:IService1_verifyLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/verifyLoginResponse" message="tns:IService1_verifyLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEmptyRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getEmptyRooms" message="tns:IService1_getEmptyRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getEmptyRoomsResponse" message="tns:IService1_getEmptyRooms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getActiveLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getActiveLogin" message="tns:IService1_getActiveLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getActiveLoginResponse" message="tns:IService1_getActiveLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReservations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getReservations" message="tns:IService1_getReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getReservationsResponse" message="tns:IService1_getReservations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IService1/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hello">
      <soap:operation soapAction="http://tempuri.org/IService1/hello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/IService1/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReservation">
      <soap:operation soapAction="http://tempuri.org/IService1/addReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRoom">
      <soap:operation soapAction="http://tempuri.org/IService1/addRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/verifyLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmptyRooms">
      <soap:operation soapAction="http://tempuri.org/IService1/getEmptyRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActiveLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/getActiveLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservations">
      <soap:operation soapAction="http://tempuri.org/IService1/getReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:34060/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>